@import "../../../style.global";

.square {
    width: 15px;
    height: 15px;
    border-radius: 3px;
    display: inline-block;
    border: 1px solid;
}

.legendText {
    padding: 2px 2px 2px 6px;
    display: inline-block;
}

.legend {
    position: fixed;
    right: 8px;
    top: 60px;
    background-color: rgba($dark, 0.65);
    padding: 8px;
    border-radius: 6px;
    transition: 0.45s;
    cursor: pointer;

    &.hidden {
        right: -209px;
        color: rgba($dark, 0);
    }
}
