.burger {
    display: flex !important;

    &:hover {
        background-color: black !important;
    }
}

.noSelection {
    user-select: none;
}

.disabled {
    pointer-events: none;
}

img.icon {
    max-height: 35px;
}

$mobile-breakpoint: 700px;

@media screen and (max-width: $mobile-breakpoint) {
    .hiddenMobile {
        display: none;
    }
}

@media screen and (min-width: $mobile-breakpoint + 1px) {
    .visibleMobileOnly {
        display: none;
    }
}

$tablet-breakpoint: 930px;

@media screen and (max-width: $tablet-breakpoint) {
    .hiddenTablet {
        display: none;
    }
}

@media screen and (min-width: $tablet-breakpoint + 1px) {
    .visibleTablet {
        display: none;
    }
}
