.reservationBox {
    position: relative;
    padding: 1rem;

    &:hover {
        background-color: hsl(0, 0%, 9%);
        box-shadow: 0 0 9px 3px rgba(black, 0.8);
        cursor: pointer;
    }
}

.media70px {
    width: 70px;
}

.editButton {
    position: absolute;
    right: 7px;
    top: 7px;
}

.drones {
    border-bottom: 1px dotted;

    &:hover {
        cursor: help;
    }
}
