@import "~bulma/sass/utilities/initial-variables";

.mainSection {
    position: absolute;
    width: 320px;
    background-color: $black-bis;
    left: 0;
    top: 52px;
    z-index: -1;
    transition: 0.45s;
    padding: 15px;
    overflow-y: scroll;
    height: calc(100% - 52px);
}

.mainSection.hidden {
    left: -320px;
}
