.box {
    padding: 1rem;
    transition: height 0.35s;
    height: 55px;
    overflow: hidden;

    .params {
        transition: opacity 0.35s;
        opacity: 0;
    }

    &:hover {
        background-color: hsl(0, 0%, 9%);
        box-shadow: 0 0 9px 3px rgba(black, 0.8);
        cursor: pointer;
    }

    &.isOpen {
        height: 225px;

        .params {
            opacity: 1;
        }
    }
}
