$small-size: 20px;
$medium-size: 55px;

.spinner {
    animation: spin 0.7s linear infinite;
    opacity: 0.8;
}

.spinnerBlock {
    display: block;
}

.spinnerContainer {
    padding: 5px;
}

.small {
    height: $small-size;
    width: $small-size;
}

.medium {
    height: $medium-size;
    width: $medium-size;
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(-360deg); }
}
