@import "../../../style.global";

.droneBoxContainer {
    color: whitesmoke;
    transition: 0.2s;

    &.droneSelected {
        color: $primary;

        &:hover {
            color: darken($primary, 15%);
        }

        .droneBox {
            box-shadow: inset 0 0 0 2px #1f1f1f;
        }
    }

    .droneBox {
        transition: 0.2s;
        background-color: $primary;
        box-shadow: inset 0 0 0 7px #1f1f1f;
        border-radius: 2px;
        border: 1px solid $grey-dark;
        margin: 2px 10px 0 0;
        width: 15px;
        height: 15px;
        padding: 2px;
        display: inline-block;
    }

    &:hover {
        cursor: pointer;
        color: $grey-light;
    }

    &:not(:last-child) {
        margin-bottom: 10px;
    }
}
