@import "~bulma/sass/utilities/initial-variables";
@import "~bulma/sass/utilities/functions";

$family-sans-serif: 'Ubuntu';
$primary: #40dfa6;
$primary-invert: #0e3628;

@import "~bulma/sass/utilities/derived-variables";

$dark: $black-bis;
$colors: ("white": ($white, $black), "black": ($black, $white), "light": ($light, $light-invert), "dark": ($dark, $dark-invert), "primary": ($primary, $primary-invert), "link": ($link, $link-invert), "info": ($info, $info-invert), "success": ($success, $success-invert), "warning": ($warning, $warning-invert), "danger": ($danger, $danger-invert));

$body-background-color: $dark;
$text: $dark-invert;
$box-background-color: hsl(0, 0%, 12%);
$box-shadow: 0 0 6px 2px rgba($black, 0.5);

$tablet: 10px;
$desktop: 20px;

$tooltip-background-color: $black-ter;

@import "~bulma/bulma";
@import "~bulma-tooltip";


// SCROLL BAR

html {
    // Hide scrollbar.
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
}

::-webkit-scrollbar-track {
    background: transparent;
}

::-webkit-scrollbar-thumb {
    background: #414141;
    border-radius: 10px;

    &:hover {
        background: $grey-darker;
        cursor: pointer;
    }
}

// BUTTONS AND FORMS

@mixin dark-button {
    color: $light;
    background-color: $black-bis;
    border: solid $grey-darker 1px;

    &:hover {
        border: solid $grey-dark 1px;
        background-color: $black;
    }

    &:active {
        border: solid $grey-darker 1px;
    }

    &:focus {
        box-shadow: none;
        border: solid $grey-darker 1px;
    }

    &.is-selected {
        color: $primary;
    }
}

.form.is-dark {
    .field {
        .label {
            color: $light;
        }

        .input {
            background-color: hsl(0, 0%, 13%);
            color: $light;
            border: solid $grey-darker 1px;
            box-shadow: none;

            &::-webkit-input-placeholder {
                color: $grey;
            }

            // Remove arrows from input type=number
            &[type=number]::-webkit-inner-spin-button,
            &[type=number]::-webkit-outer-spin-button {
                -webkit-appearance: none;
                margin: 0;
            }

            &:focus {
                border: solid $grey-dark 1px;
            }
        }

        .select {
            select {
                background-color: hsl(0, 0%, 13%);
                color: $light;
                border: solid $grey-darker 1px;
                box-shadow: none;

                &:focus {
                    box-shadow: none;
                    border: solid $grey-dark 1px;
                }

                &:active {
                    border: solid $grey-dark 1px;
                }
            }

            &::after {
                border-color: $light;
            }
        }

        .button {
            @include dark-button;
        }
    }
}

.button.is-dark {
    @include dark-button;
}

.button.is-primary {
    &:hover {
        background-color: darken($primary, 9%);
    }
}


// NAVBAR

*:not(.navbar-dropdown) {
    > .navbar-item {
        &:hover {
            color: lighten($primary, 27%) !important;
        }

        &.is-active {
            color: $primary !important;
            padding-top: 10px !important;
            border-bottom: $primary solid 3px !important;
        }
    }
}

.navbar-dropdown > .navbar-item.is-active {
    color: $primary !important;
}

.navbar-item.has-dropdown {
    &.is-active-dropdown > .navbar-link {
        color: $primary !important;
        padding-top: 10px !important;
        border-bottom: $primary solid 3px !important;

        &::after {
            border-color: $primary !important;
            margin-top: -5px;
        }
    }
}

.navbar-dropdown {
    &.is-dark {
        background-color: $black-ter;

        .navbar-item {
            color: $light;

            &:hover {
                color: lighten($primary, 27%) !important;
                background-color: $black-bis;
            }
        }

        .navbar-divider {
            background-color: $grey-dark;
        }
    }

    &.is-shifted-left {
        left: -50px;
        top: 100%;
    }
}


// MISCELLANEOUS

.small-margin-left {
    margin-left: 7px;
}

.param-name {
    color: #919191;
    font-weight: 100;
}

a {
    color: $primary;

    &:hover {
        color: darken($primary, 15%);
    }
}

p {
    margin-bottom: 1em;
}
